.ServicesHeading {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
    text-align:left;
    letter-spacing: 0.01em;
    
    color: #181818;
}
.ServicesParagraph {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align:left;
    letter-spacing: -0.011em;

    color: #181818;
}