@font-face {
    font-family: 'Inconsolata', monospace;
    font-family: 'Poppins', sans-serif;
    font-family: 'Gotham';
    src: local('Gotham'), url(../../assets/fonts/GothamBlack.otf) format(otf);
    src: local('Gotham'), url(../../assets/fonts/GothamBlack.otf?#iefix) format(embedded-opentype);
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: subpixel-antialiased;
  }
.Header {
    display:flex;
    justify-content: center;
    align-items:center;
    background:#FCD635;
    width: -webkit-fill-available;
    height: 674px;
    left: 0px;
    top: 0px;
  }
  .HeaderText {
    font-family: Gotham !important;
    font-style: normal;
    font-weight: 500;
    font-size: 15vw;
    margin:0;
    color: #181818;
  }