.ClientsParagraph {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 48px;
    /* or 200% */
    text-align:left;
    letter-spacing: 0.02em;
}
input {
    border-width:0px;
    border-bottom-width: 1px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 48px;
    /* or 200% */
    letter-spacing: -0.022em;
}