@font-face {
    font-family: 'Inconsolata', monospace;
    font-family: 'Poppins', sans-serif;
    font-family: 'Gotham';
    src: local('Gotham'), url(../../assets/fonts/GothamBlack.otf) format('otf');
  }
.nav-link {
    font-family:Inconsolata;
    font-style:normal;
    color: black !important;
  }
  .nav-link.active {
    color: white !important;
  }