@font-face {
    font-family: 'Inconsolata', monospace;
    font-family: 'Poppins', sans-serif;
    font-family: 'Gotham';
    src: local('Gotham'), url(../../assets/fonts/GothamBlack.otf) format('otf');
  }
.Heading {
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 56px;
    /* or 86% */
    margin-bottom:30px;
  
    letter-spacing: -0.03em;
  
    color: #181818;
  }
  .Paragraph {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */
  
    letter-spacing: -0.011em;
  
    color: #181818;
  }
  .ImageText {
    position:relative;
    bottom:0px;
  }
  figcaption {
    position:absolute;
    bottom:1rem;
    left:0;
    right:0;
    padding-left:0.6em;
    color: white;
    font-size: 0.7em;
  }