.Copyright{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
  
    color: #FFFFFF;
  
    transform: rotate(270deg);
    transform-origin: right bottom;
  }  
  .FooterHeading {
      text-align:left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    width:187px;
    /* or 150% */
    
    letter-spacing: 0.02em;
    
    color: #FCD635;
}
.FooterParagraph {
    text-align:left;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    width:187px;
    /* or 150% */
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .Copyright{
      transform: none;
    } 
}