
@font-face {
  font-family: 'Inconsolata', monospace;
  font-family: 'Poppins', sans-serif;
  font-family: 'Gotham';
  src: local('Gotham'), url(./assets/fonts/GothamBlack.otf) format(otf);
  src: local('Gotham'), url(./assets/fonts/GothamBlack.otf?#iefix) format(embedded-opentype);
  font-style:normal;
}
.App {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align:center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Heading {
  text-align: left;
  font-family: Gotham !important;
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 56px;
  /* or 86% */
  margin-bottom:30px;

  letter-spacing: -0.03em;

  color: #181818;
}
.Paragraph {
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  letter-spacing: -0.011em;

  color: #181818;
}

button {
  font-family: Inconsolata;
  font-style: normal;
}
a:active {
  color:white;
}

a {
  text-decoration: underline;
  font-weight: 600;
}
a:link {
  color: #FFFFFF;
}

a:visited {
  color: #FFFFFF;
}

a:hover {
  color: #FCD635;
}

a:active {
  color: #FCD635;
}
